# dependencies
node_modules/

# next.js
.next/
out/
tsconfig.tsbuildinfo

# production
build/
dist/

# local env
.env
.env*.local

# vercel
.vercel/

# supabase
.branches/
supabase/.temp/

# system
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
